<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripcion Ventas</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <div class="container-fluid">
        <div class="spacer" style="height: 10px;"></div>
        <legend>Descripcion Ventas</legend>

           <!-- Botón de registrar movido más cerca de la tabla -->
           <div class="row">
            <div class="col-12" style="text-align: right; padding-top: 30px;">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Registrar
                </button>
            </div>
        </div>

        <!-- Modal -->
        <div class="spacer" style="height: 10px;"></div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="width: 140%; height: 150%; ">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Nueva Venta</h1>

                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div id="inputdata">
                                <form class="row g-3 needs-validation" novalidate>
                                    <fieldset class="formulario">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label class="col-sm-2 col-form-label" for="cliente_id">Cliente:
                                                </label>
                                                <input type="hidden" id="selected_cliente_id" name="selected_cliente_id"
                                                    value="">
                                                <input type="text" list="cliente_id" class="form-control"
                                                    name="cliente_id" id="cliente_id">
                                            </div>


                                            <div class="col-md-6">
                                                <label class="col-sm-2 col-form-label" for="producto_id">Producto:
                                                </label>
                                                <input type="hidden" id="selected_producto_id" name="selected_producto_id"
                                                    value="">
                                                <input type="text" list="producto_id" class="form-control"
                                                    name="producto_id" id="producto_id">
                                            </div>
                                        </div>

                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label class="col-form-label">Cantidad: </label>
                                                    <input type="number" class="form-control" name="cantidad" id="cantidad"
                                                        value="" required placeholder="Ingrese cantidad">
                                                </div>

                                            <div class="col-md-6">
                                                <label class="col-form-label">Precio:</label>
                                                <input type="number" class="form-control" name="total" id="total"
                                                    value="" required placeholder="Ingrese total" step="0.01" min="0">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="col-form-label">Descuento Aplicado:</label>
                                            <input type="text" class="form-control" id="descuento" readonly>
                                        </div>
                                    
                                        <div class="col-md-6">
                                            <label class="col-form-label">Sub Total:</label>
                                            <input type="text" class="form-control" id="sub_total" readonly>
                                        </div>

                                            <!-- State  -->
                                                <div class="col-md-6">
                                                    <label class="form-label">Estado: </label>
                                                    <select class="form-select" id="estado">
                                                        <option selected>-- Select --</option>
                                                        <option value="1">Activo</option>
                                                        <option value="0">Inactivo</option>
                                                    </select>
                                                </div>
                                            </div>
                                    </fieldset>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" name="btnCloced" class="btn btn-secondary" data-bs-dismiss="modal"
                                onclick="clearData()">Close</button>
                            <br>
                            <button name="btnAgregar" class="btn btn-primary" type="button" onclick="save()"
                                data-bs-dismiss="modal">Agregar
                                Venta</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Cliente</th>
                    <th scope="col">Total</th>
                    <th scope="col">Fecha de Ventas</th>
                    <th scope="col">State</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="resultData">

            </tbody>
        </table>
    </div>

    <!-- Script personalizado para funcionalidades específicas de 'Clientes' -->
    <script src="/js//DescripcionVentas.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Incluir SweetAlert2 desde un CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </script>
    <script>
        loadData();
        loadVentas();
        loadProductos();
    </script>
</body>

</html>